[Unit]
Description=Systemd Resource Optimization Service
After=network.target

[Service]
ExecStart= /bin/resource-optimizer
Type=simple
Restart=always
RestartSec=15

[Install]
WantedBy=default.target